
body{

  font-family: 'Inter', sans-serif;
  margin: 0 auto
}



.logoLili{
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.3rem;
}




.headerFood{
    color: rgb(55, 68, 51);
    font-weight: 700;
}

.circularImage{
  border-radius: 50%;
}
.deleteBtn{
  border: none;
  background-color: white;
}

.navbar-fixed {
  z-index: 999;
}
.btn {
  background-color: #4ead54 !important;
}
img.aboutPicture{
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
   width: 600px;
 }
 div.card-panel.abouts{
  margin-top: 60px
}
@media only screen and (max-width: 860px) {

  .row .col.s4 {
    width: 100% !important;
    padding-top: 50px !important;
  }

  img.aboutPicture{
    width: 300px;
  }
  div.card-panel.abouts{
    margin-top: 30px !important;
  }
  span.card-title.sabout{
    font-size: 20px;
    font-weight: 500;
  }
}
/* @media screen and (max-width: 390px){
  
  #picome{
 
    font-size: 15px;
  }
   #mainDiv{

     display: inline-grid;
     grid-template-columns: 3fr;

   }
   .row .col.s4{
     width: none;
   }
   div#introductionDiv{background-color: red;
      
  }
 
} */