
body{

  font-family: 'Inter', sans-serif;
  margin: 0 auto
}



.logoLili{
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.3rem;
}


header{
height: 350px;
}

.headerFood{
    color: rgb(55, 68, 51);
    font-weight: 700;
}

.circularImage{
  border-radius: 50%;
}