<%- include('../partials/header') %>

<div>
    <img src="https://www.sfmfoodbank.org/wp-content/uploads/2022/03/2022-03-HP-m_v1.jpg" alt="" class="aboutPicture" />
    <!-- these picture is belong to the San francisco Food bank -->
</div>
<section>
	<div class="container ">
		<div class="card-panel abouts #fafafa grey lighten-5">
			<span class="card-title sabout green-text darken-4-text"> Our Mission </span>
			<div class="card-content">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, debitis quae! Praesentium quasi
                    minima ipsa maxime hic provident commodi quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero explicabo, illo error minima totam ab assumenda obcaecati laborum,
                     recusandae repellat velit, rerum dolorum sint.
				</p>
			</div>
		</div>
	</div>

	<div class="container ">
		<div class="card-panel abouts #fafafa grey lighten-5">
			<span class="card-title sabout green-text darken-4-text"> Our Vission </span>
			<div class="card-content">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, debitis quae! Praesentium quasi
                    minima ipsa maxime hic provident commodi quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus distinctio illum cum reprehenderit aliquam quis! Vel accusamus
                     asperiores earum, omnis quod ad neque perferendis nisi?
				</p>
			</div>
		</div>
	</div>
</section>

<%- include('../partials/footer') %>
