<%- include('../partials/header') %>

<div>
	<img src="https://www.sfmfoodbank.org/wp-content/uploads/2022/03/2022-03-HP-m_v1.jpg" alt="" class="aboutPicture" />
</div>
<section>
	<div class="container">
		<div class="card-panel #fafafa grey lighten-5">
			<span class="card-title"> Our Mission </span>
			<div class="card-content">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, debitis quae! Praesentium quasi
					minima ipsa maxime hic provident commodi quas.
				</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="card-panel #fafafa grey lighten-5">
			<span class="card-title"> Our Vission </span>
			<div class="card-content">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, debitis quae! Praesentium quasi
					minima ipsa maxime hic provident commodi quas.
				</p>
			</div>
		</div>
	</div>
</section>

<%- include('../partials/footer') %>
