
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
    <style>
     body{
         padding: 20px
     }
    </style>
</head>
<body>
    
    <div class="container card center-align ">
        <div class=" container card-content">
      <h1 class="card-title"> Thank you</h1>
      <p>Lorem ipsum, dolor sit amet consectetur 
          adipisicing elit. Ab ipsa necessitatibus quaerat sit a
           tempora quod maiores aspernatur consequatur magni, iusto,
            totam, dolorum animi temporibus eaque saepe. Quos, corrupti! 
            Fuga officia, sed perferendis tenetur sapiente veritatis placeat
             laboriosam beatae labore molestiae illo adipisci officiis. Itaque aut quae ad labore eveniet dolore, sed quos reprehenderit quisquam explicabo sequi quaerat fugit dolores consectetur. Architecto quae inventore quisquam reiciendis tempora nihil a doloremque ipsa, odio, reprehenderit minus. Veritatis velit consequuntur molestiae rem sapiente harum fugit fugiat incidunt, nostrum quam ullam numquam, inventore ipsa laborum consequatur impedit, autem eum ipsam dolore? Laudantium laborum, qui repudiandae vitae necessitatibus numquam at! Nesciunt nam exercitationem reiciendis deleniti, numquam consequatur mollitia aliquid, obcaecati, possimus omnis architecto praesentium fugiat quas quae animi! Nostrum at consequuntur, molestiae cupiditate magnam pariatur ratione? Laboriosam laborum consectetur iste?</p>
            </div>
            </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>