<%- include('../partials/header') %>

  
<section class=" container row">
<div class=" container col s4">

    <form action="/orders" method="POST">
     <h3>Delivery details</h3>
     <div class="input-field">
     <input type="text" name="address">
     <label for="street"> Street</label>
    </div>
    <div class="input-field"> 
     <input type="text" name="city">
     <label for="city">City</label>
    </div>

    <div class="input-field">
        <input type="text" name="state">
        <label for="state">State</label>
    </div>
    <div class="input-field">
     <input type="text" name="zipCode">
     <label for="zipcode">Zipcode</label>
    </div>
  

  
</div>

<div class=" col s4">
    <h6>Special Request/Note</h6>
<textarea  cols="30" rows="10"  name="message"></textarea>
</div>

<div class=" col s4">
   
    <input type="submit" class="btn" >
    <a href="/groceries/new" class="btn">Add More</a>
</div>
</form>
</div>

</section>


<%- include('../partials/footer') %>